* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    color: #0a58ca;
    font-size: xx-large;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.main::after{
    content: "";
    width: 739px;
    height: 538px;
    background: url(../images/bg.jpg);
    background-color: red;
    top: 0px;
    right: 1px;
    position: absolute;
    display: inline-block;
    z-index: -1;
}
.main::before{
    content: '';
    width: 170px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    top: 320px;
    left: -80px;
    background-color:rgba(113, 221, 167, 0.2);
}
.banner{
    height: 50vh;
}
.banner_title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
    margin-left: 100px;
    color: #0a58ca;;
}
.first_section p{
    margin-left: 100px;
    color: #0a58ca;;
}
.btn_margin{
    margin-left: 100px !important;
}
.card_context:hover{
    background-color: #0a58ca;
    color: white;
}
.card_text{
    font-size: 15px;
}

.section_two {
    background-color: rgb(235 233 233);
}

.combine_data {
    padding: 50px 40px;
}

.section_two .right-data .profile-data {
    width: 90%;
    background-color: #fff;
    margin-top: 35px;
}

.heading {
    color: #2d2d58;
}

.lower-char {
    font-size: 13px;
}
.section-three {
    content: "";
    position: relative;
    top: 0;
    background: url('../images/back_img.jpg') no-repeat center center/cover;
    height: 400px;
    z-index: 0;
    /* width: 100vw; */
}

.section-three::after {
    content: "";
    opacity: 0.8;
    position: absolute;
    top: 0;
    height: 400px;
    width: 100%;
    z-index: -1;
    background-color: rgb(80, 80, 230);
}

.section-three .third-main {
    color: #fff;
    text-align: center;
    padding: 90px 0;
    z-index: 1;
}

hr {
    width: 5%;
}

.imgsec-rightdata {
    text-align: justify;
    padding-left: 5px;
}
.client_heading{
    height: 200px;
    background-color: #052555;
    color: white;
    justify-content: center;
    align-items: center;
}
.rule{
    width:50px;
    height: 1px;
    border-bottom: 3px solid white ;
    align-items: center;
 }
 .client_card{
    position: relative;
    bottom: 40px;
 }
 .footer_section{
    background-color: #052555;
    /* height: 270px; */
}
.footer_ul{
    list-style: none;
}

/* section contact */

.section-contact {
    /* height: 500px; */
    padding: 40px 0;
}

form input[type] {
    font-size: 10px;
    padding: 4px;
}


.form-alignment {
    text-align: justify;

}

textarea::placeholder {
    font-size: 10px;
    padding: 4px;
}

.accordion button {
    height: 25px;
}
