*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.logo{
    color: #0a58ca;
    font-size: xx-large;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main::after{
    content: "";
    width: 600px;
    height: 390px;
    background: url(../images/bg.jpg);
    top: 0px;
    right: 1px;
    position: absolute;
    display: inline-block;
    z-index: -1;
}
/*.banner::after{
    content: "";
    width: 600px;
    height: 390px;
    background: url(../images/vectorbg.png);
    background-repeat: no-repeat;
    top: 100px;
    left: 440px;
    position: absolute;
    display: inline-block;
/*    z-index: -1;*/

.nav_color{
    color: white !important;
}
.main::before{
    content: '';
    width: 170px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    top: 320px;
    left: -80px;
    background-color:rgba(113, 221, 167, 0.2);
}
.banner{
    height: 40vh;
}
.banner_title{
    font-size: 30px;
    font-weight: 600;
    margin-top: 100px;
    color: #0a58ca;;
}
.first_section p{
     color: #0a58ca;;
}
.card_context:hover{
    background-color: #0a58ca;
    color: white;
}
.card_text{
    font-size: 10px !important;
}

/* quality section */

.quality-section {
    background-color: rgb(235 233 233);
}

.combine_data {
    padding: 50px 0px;
}

.quality-icon i {
    color: skyblue;
}

.profile-name {
    color: blue;
    font-size: smaller;
}

.quality-section .content-side .profile-data {
    width: 90%;
    background-color: #fff;
    margin-top: 15px;
}

.heading {
    color: #2d2d58;
}

.lower-char {
    font-size: 11px;
}
/* .section-three { */

/* Features section */

.features-section {
    content: "";
    position: relative;
    top: 0;
    background: url('../images/back_img.jpg') no-repeat center center/cover;
    z-index: 0;
}

.features-section::after {
    content: "";
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: rgb(80, 80, 230);
}

.features-section .features-main {
    color: #fff;
    text-align: center;
    padding: 90px 0;
    z-index: 1;
}

.features-icon img-div {
    color: #fff;
}

.features-data {
    text-align: justify;
    padding-left: 5px;
}
.client_heading{
    height: 200px;
    background-color: #052555;
    color: white;
    justify-content: center;
    align-items: center;
}
.rule{
    width:50px;
    height: 1px;
    border-bottom: 3px solid white ;
    align-items: center;
 }
 .client_card{
    position: relative;
    bottom: 40px;
 }
 .footer_section{
    background-color: #052555;
    /* height: 270px; */
}
.footer_ul{
    list-style: none;
}

/* contact section */

.contact-section {
    padding: 40px 0;
}

.contact-heading {
    text-align: center;
}

form input[type] {
    font-size: 10px;
    padding: 4px;
}

form input {
    width: 100%;
}

.form-alignment {
    text-align: justify;
}

form textarea {
    font-size: 10px;
    width: 100%;
}

textarea::placeholder {
    font-size: 10px;
    padding: 4px;
}

form button {
    font-size: x-small !important;
}

.accordion button {
    height: 25px;
}

/*creative team*/


.logo_img{
    max-width: 40px;
    width: 50px;
}


@media screen and (max-width: 767px) {
    .main::after {
        content: "";
        width: 207px;
        height: 150px;
        background: url(../images/bg.jpg);
        top: 0px;
        right: 1px;
        position: absolute;
        display: inline-block;
        z-index: -1;
    }
    .nav_color{
       color: black !important;
    }
    .footer_social_media{
    text-align: center;
    }
    .team_img{
        max-width: 200px;
    margin: 0px auto;
    display: block;
    }
  }
    
.accordion {
    --bs-accordion-btn-icon-width: 0.9rem !important;
}

button span {
    font-size: x-small;
}

/* news section */

.news-section {
    padding: 60px 0;
    background-color: rgb(235, 233, 233);
}

.news-section span {
    font-size: 10px;
    font-weight: bolder;
}

.news-section .company {
    font-size: 5px;
    color: rgb(165, 163, 163);
}

.news-section .date {
    background-color: blue;
    color: #fff;
    margin-top: 5px;
    padding: 4px 8px;
    text-align: center;
}
